<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Line Basic</string>
	<string>Line Data Labels</string>
	<string>Line Logarithmic</string>
	<string>Area Basic</string>
	<string>Area Negative</string>
	<string>Bar Stacked</string>
	<string>Pie Basic</string>
</array>
</plist>
